DB__ASYNC_URL=mysql+aiomysql://root:root@localhost:3306/SIP-STROI
DB__SYNC_URL=mysql+pymysql://root:root@localhost:3306/SIP-STROI
DB__ECHO=1
DB__ECHO_POOL=1
DB__USER=root
DB__PASSWORD=root
DB__HOST=localhost
DB__NAME=SIP-STROI
DB__PORT=3306
IMAGE_MAX_WIDTH=600
TG_BOT_TOKEN=...
