name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy using rsync
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          ARGS: "-avz --delete"
          SOURCE: "./"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: "/var/www/u3363751/data/www/xn--42-vlceyfhfck.xn--p1ai/api"
          EXCLUDE: "/.git/, /.github/, /uploads/"
          # SCRIPT_AFTER: |
          #   touch /var/www/u3363751/data/www/xn--42-vlceyfhfck.xn--p1ai/.restart-app
          #   echo "Файл перезагрузки создан"
