name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy using rsync
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "./"
          target: "/var/www/u3363751/data/www/xn--42-vlceyfhfck.xn--p1ai/api"
          script: |
            rsync -rlgoDzvc -i --delete . ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}:/var/www/u3363751/data/www/xn--42-vlceyfhfck.xn--p1ai/api --exclude=/.git/ --exclude=/.github/ --exclude=/uploads/
